*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Parte del cuerpo incluye un mensaje*/
.mensaje{
    text-align: center;
    font-size: 1.2em;
    color: #003459;
    padding: 2em 0;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.contenido img{
    width: 158px;
    height: auto;
    margin: 1em;
}

.bloque{
    border: 3px solid #04132c;
    border-radius: 10px;
    width: 20em;
}

.boton{
    background-color: #003E73;
    color: white;
    padding: 1.5em 2em;
    border-radius: 0px 10px 10px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.boton:hover{
    background-color: #0267c7;
    transition: background-color 0.3s ease-in-out;
}

.boton a{
    color: white;
    text-decoration: none;
}

.texto{
    padding: 0em 1em 0.5em;
}

.texto h2{
    color: #003459;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.texto p{
    font-size: 1em;
}

.imagen{
    height: 180px;
}


.usuario{
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.iniciarSesion {
    background-color: #e91e63;
    color: white;
    padding: 1.5em 2.5em;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    gap: 0.5em;
}

.iniciarSesion:hover{
    background-color: #0267c7;
    transition: background-color 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
}

.iniciarSesion a{
    text-decoration: none;
    color: #fff;
}

.iniciarSesion a:hover{
    color: #fff;
    text-decoration: none;
}

.fondo{
    background-image: linear-gradient(to left, #2170b4, #1b7cbf, #1587ca, #0d93d4, #049fde, #249ee2, #399ce6, #4a9ae9, #7088e0, #9073ce, #a85db4, #b84493);
    height: 5em;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    z-index: 1; /* Mantener la cabecera fija al hacer scroll */
    color: #fff;
}

table{
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #0088ff;
    scroll-margin: 2em;
}

tbody{
    color: #000;
}

tr{
    height: 3em;
    text-align: center;
}

.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px; /* Altura máxima para el área scroll */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
}

.editar{
    background: #E91E63;
    color: #fff;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar:hover{
    background: #fff;
    color: #e91e63;
    transition: 0.5s ease-in-out;
    border: 1px solid;
}

.eliminar{
    background: #FF4500;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 0.5em;
    transition: 0.5s ease-in-out;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eliminar:hover{
    background: #fff;
    color: #bd3501;
    transition: 0.5s ease-in-out;
    border: 1px solid;
}

.bot{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 10px;
}

.bot a:hover{
    text-decoration: none;
}

/*Menu inicio*/

.nav-item a{
    padding: 1.2em;
}

.nav-item{
    width: 7em;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(178, 76, 158, 0.4);
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 16px;
}

.nav-item:hover{
    background-color: #343a40;
}

.nav-item a:hover{
    color: #fff;
}

.contains{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    text-align: center;
    padding: 1.5em 1em 0.2em 1em;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #5a7dc6;
}

#boton button{
    height: 3.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}